body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1400px;
    padding: 0 125px;
}

header {
    margin-top: 33px;
}

section {
    margin-top: 150px;
}

.nav {
    float: right;
}

.nav__link {
    color: #121212;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-left: 58px;
}

.nav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
    color: #121212;
}

h1 {   
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
    width: 956px;
    padding-bottom: 30px;
}

.start {
    margin-top: 69px;
}

.start-image {
    position: relative;
    background: url(../resources/interior.png);
    height: 500px;
}

.start-text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    color: #FFF;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.6px;
}

h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-bottom: 31px;
}

a {
    text-decoration: none;
}

.about-text {
    color: #121212;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -1.35px;
    width: 1048px;
    padding-bottom: 30px;
}

.about__btn {
    display: inline-block;
    padding: 24px 40px;
    border-radius: 5px;
    background:#AD1818;
    color: #FFF;
    font-size: 20px;
    letter-spacing: -0.6px;;
}

h3 {
    font-size: 30px;
    letter-spacing: -0.9px;
}

.project__image {
    padding-bottom: 17px;
}

.project__title {
    padding-bottom: 25px;
}

.detailed {
    color:  #AD1818;
    font-size: 20px;
    letter-spacing: -0.6px;
}

.project__items {
    display: inline-block;
    margin-bottom: 93px;
}

.project__btn {
    display: block;
    width: 100%;
    line-height: 153px;
    border-radius: 5px;
    border: 1px solid #AD1818; 
    text-align: center;
    color: #AD1818;
    font-size: 30px;
    letter-spacing: -0.9px;
}

.project__btn:hover  {
    border-radius: 5px;
    border: 1px solid #AD1818;
    background: #AD1818;
    color: #FFF;
}

.services   {
    padding: 151px 0 160px;
    background-color: #121212;
    min-width: 1400px;
}

.services h2{
    color: #FFF;
}

.services__items {
    display: inline-block;
    margin-bottom: 69px;
}

.services__image {
    padding-bottom: 15px;
}

.services__title {
    color: #FFF;
}

.services__items:nth-child(4){
    margin-bottom: 0;
}

.room {
    margin: auto;
    min-width: 1400px;
}

.room__image {
    background: url(../resources/Room.png);
    height: 717px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.room__image-text {
    position: absolute;
    bottom: 60px;
    color: #FFF;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.9px;
    width: 443px;
}

.contacts {
    height: 400px;
}

.icon__contacts:before {
    content: '';
    background-image: url(../resources/icon_phone.png);
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 12px;
}

.icon__contacts-tel{
    margin-bottom: 30px;
    display: block;
    color: #121212;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;

}

.icon__contacts-mail {
    display: inline-block;
    color: #121212;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

.icon__contacts-tel:hover {
    width: 466px;
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 29px;
}

.icon__contacts-mail:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.footer {
    background-color: #121212;
    height: 229px;
}

.footer__nav {
    margin-top: 60px;
    position: absolute;
    display: flex;
    padding-left: 345px;
}

.footer__nav-link {
    color: #FFF;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.footer__nav-link:hover {
    opacity: 0.5;
}

.footer__text {
    color: #FFF;
    margin-left: 384px;
    position: absolute;
    text-align: center;
    margin-top: 172px;
    opacity: 0.5;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 27px;
}